{% extends 'common/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}<p class="fs-2 fw-bold"></p>{% endblock title %}

{% block content %}

<div class="mb-3 row">
    <label for="f1" class="col-sm-2 col-form-label">タイトル</label>
    <div class="col-sm-10">
        <input id="f1" type="text" readonly 
            class="form-control-plaintext" value="{{object.subject}}"/>
    </div>
</div>
<div class="mb-3 row">
    <label for="f2" class="col-sm-2 col-form-label">メッセージ</label>
    <div class="col-sm-10">
        <input id="f2" type="text" readonly 
            class="form-control-plaintext" value="{{ object.message }}"/>
    </div>
</div>

<div class="mb-3 row">
    <label for="f3" class="col-sm-2 col-form-label">作成者</label>
    <div class="col-sm-10">
        <input id="f3" type="text" readonly 
        class="form-control-plaintext" value="{{ object.sender }}"/>
    </div>
</div>

<div class="mb-3 row">
    <label for="f4" class="col-sm-2 col-form-label">公開日時</label>
    <div class="col-sm-10">
        <input id="f4" type="text" readonly 
        class="form-control-plaintext" value="{{ object.pub_date }}"/>
    </div>
</div>

{% endblock content %}