{% extends 'common/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}<p class="fs-2 fw-bold">検索一覧</p>{% endblock title %}


{% block content %}

{% comment "bootstrap_buttonタグでhrefを使うサンプル" %}
<a class="btn btn-primary" href="{% url 'news:create' %}">新規作成画面</a>
<a href="{% url 'news:list' %}">一覧画面</a>
{% url 'news:create' as var_new_create %}
{% bootstrap_button button_type="link" content="新規作成" href=var_new_create %}

{% url 'news:search_list' as var_search_list %}
{% bootstrap_button button_type="link" content="新規作成" href=var_search_list %}
{% endcomment %}
  
<div class="container">
      <form method="get" class="form row g-3">
          <div class="col-5">
            <input class="form-control" type="text" id="query" name="query"
            value="{{ request.GET.query }}" placeholder="検索する場合はここに入力"></input>
          </div>
          <div class="col-auto">
            <input class="form-control btn btn-primary mb-3" type="submit" value="検索"></input>
          </div>
      </form>
</div>
<div class="m-1">
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">subject</th>
      <th scope="col">pub_date</th>
      <th scope="col">更新</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  {% if contact_list %}
  <tbody>

      {% for c in contact_list %}
          <tr>
              <th scope="row"><a href="{% url 'news:detail' c.id %}">{{ c }}</a></th>
              <td>{{ c.subject }}</td>
              <td>{{ c.pub_date }}</td>
              <td><a href="{% url 'news:update' c.id %}">更新</a></td>
              <td><a href="{% url 'news:delete' c.id %}">削除</a></td>
          </tr>
      {% endfor %}
  </tbody>
  {% else %}
  {% endif %}
</table>
</div>

{% endblock content %}
